*.exe
*.o
Algorithms-master.zip
Algorithms-master
book-sudocodes-master
book-sudocodes-master.zip

number theory/my codes/last pf with seive
Codeforces edu/Segment Tree p1/A. Inversions
Codeforces edu/Segment Tree p1/B. K-th one
Codeforces edu/Segment Tree p1/B. Inversions 2
Codeforces edu/Segment Tree p1/A. Sign alternation
Codeforces edu/Segment Tree p1/B. Segment Tree for the Minimum
Codeforces edu/Segment Tree p1/C. Number of Minimums on a Segment
Codeforces edu/Segment Tree p1/D. First element at least X - 2
Codeforces edu/Segment Tree p1/D. Intersecting Segments
Codeforces edu/Segment Tree p1/C. Nested Segments
Codeforces edu/Segment Tree p1/A. Segment with the Maximum Sum
Codeforces edu/Segment Tree p1/A. Segment Tree for the Sum
Codeforces edu/Segment Tree p1/E. Addition to Segment
Codeforces edu/Segment Tree p1/C. First element at least X
